<!-- Validation failure messages -->
<% if @score.errors.any? %>
  <% @score.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Score</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_score" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for golfer_id -->
      <div class="form-group">
        <label for="golfer_id" class="control-label">
          Golfer
        </label>

        <%= select_tag(:golfer_id, options_from_collection_for_select(Golfer.order("lastname ASC"), :id, :lastname, @score.golfer_id), :class => "form-control") %>
        <!-- <input type="text" id="golfer_id" name="golfer_id" placeholder="Golfer" class="form-control" value="<%= @score.golfer_id %>"> -->
      </div>

      <!-- Label and input for course_id -->
      <div class="form-group">
        <label for="course_id" class="control-label">
          Course
        </label>

        <%= select_tag(:course_id, options_from_collection_for_select(Course.order("coursename ASC"), :id, :coursename, @score.course_id), :class => "form-control") %>
        <!-- <input type="text" id="course_id" name="course_id" placeholder="Course" class="form-control" value="<%= @score.course_id %>"> -->
      </div>

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="<%= @score.date %>">
      </div>

      <table class="table table-striped table-hover">
        <!-- ROW for FRONT NINE holes -->
        <tr>
            <td>
              <!-- Label and input for hole1 -->
              <div class="form-group">
                <label for="hole1" class="control-label">
                  Hole 1
                </label>
                <input type="text" id="hole1" name="hole1" placeholder="Strokes 1" class="form-control" value="<%= @score.hole1 %>">
              </div>
            </td>

            <td>
              <!-- Label and input for hole2 -->
              <div class="form-group">
                <label for="hole2" class="control-label">
                  Hole 2
                </label>
                <input type="text" id="hole2" name="hole2" placeholder="Strokes 2" class="form-control" value="<%= @score.hole2 %>">
              </div>
            </td>

            <td>
              <!-- Label and input for hole3 -->
              <div class="form-group">
                <label for="hole3" class="control-label">
                  Hole 3
                </label>
                <input type="text" id="hole3" name="hole3" placeholder="Strokes 3" class="form-control" value="<%= @score.hole3 %>">
              </div>
            </td>

            <td>
              <!-- Label and input for hole4 -->
              <div class="form-group">
                <label for="hole4" class="control-label">
                  Hole 4
                </label>
                <input type="text" id="hole4" name="hole4" placeholder="Strokes 4" class="form-control" value="<%= @score.hole4 %>">
              </div>
            </td>

            <td>
              <!-- Label and input for hole5 -->
              <div class="form-group">
                <label for="hole5" class="control-label">
                  Hole 5
                </label>
                <input type="text" id="hole5" name="hole5" placeholder="Strokes 5" class="form-control" value="<%= @score.hole5 %>">
              </div>
            </td>

            <td>
              <!-- Label and input for hole6 -->
              <div class="form-group">
                <label for="hole6" class="control-label">
                  Hole 6
                </label>
                <input type="text" id="hole6" name="hole6" placeholder="Strokes 6" class="form-control" value="<%= @score.hole6 %>">
              </div>
            </td>

            <td>
              <!-- Label and input for hole7 -->
              <div class="form-group">
                <label for="hole7" class="control-label">
                  Hole 7
                </label>
                <input type="text" id="hole7" name="hole7" placeholder="Strokes 7" class="form-control" value="<%= @score.hole7 %>">
              </div>
            </td>

            <td>
              <!-- Label and input for hole8 -->
              <div class="form-group">
                <label for="hole8" class="control-label">
                  Hole 8
                </label>
                <input type="text" id="hole8" name="hole8" placeholder="Strokes 8" class="form-control" value="<%= @score.hole8 %>">
              </div>
            </td>

            <td>
              <!-- Label and input for hole9 -->
              <div class="form-group">
                <label for="hole9" class="control-label">
                  Hole 9
                </label>
                <input type="text" id="hole9" name="hole9" placeholder="Strokes 9" class="form-control" value="<%= @score.hole9 %>">
              </div>
            </td>
        </tr>

        <!-- ROW for BACK NINE holes -->
        <tr>
            <td>
              <!-- Label and input for hole10 -->
              <div class="form-group">
                <label for="hole10" class="control-label">
                  Hole 10
                </label>
                <input type="text" id="hole10" name="hole10" placeholder="Strokes 10" class="form-control" value="<%= @score.hole10 %>">
              </div>
            </td>

            <td>
              <!-- Label and input for hole2 -->
              <div class="form-group">
                <label for="hole11" class="control-label">
                  Hole 11
                </label>
                <input type="text" id="hole11" name="hole11" placeholder="Strokes 11" class="form-control" value="<%= @score.hole11 %>">
              </div>
            </td>

            <td>
              <!-- Label and input for hole3 -->
              <div class="form-group">
                <label for="hole12" class="control-label">
                  Hole 12
                </label>
                <input type="text" id="hole12" name="hole12" placeholder="Strokes 12" class="form-control" value="<%= @score.hole12 %>">
              </div>
            </td>

            <td>
              <!-- Label and input for hole4 -->
              <div class="form-group">
                <label for="hole13" class="control-label">
                  Hole 13
                </label>
                <input type="text" id="hole13" name="hole13" placeholder="Strokes 13" class="form-control" value="<%= @score.hole13 %>">
              </div>
            </td>

            <td>
              <!-- Label and input for hole5 -->
              <div class="form-group">
                <label for="hole14" class="control-label">
                  Hole 14
                </label>
                <input type="text" id="hole14" name="hole14" placeholder="Strokes 14" class="form-control" value="<%= @score.hole14 %>">
              </div>
            </td>

            <td>
              <!-- Label and input for hole6 -->
              <div class="form-group">
                <label for="hole15" class="control-label">
                  Hole 15
                </label>
                <input type="text" id="hole15" name="hole15" placeholder="Strokes 15" class="form-control" value="<%= @score.hole15 %>">
              </div>
            </td>

            <td>
              <!-- Label and input for hole7 -->
              <div class="form-group">
                <label for="hole16" class="control-label">
                  Hole 16
                </label>
                <input type="text" id="hole16" name="hole16" placeholder="Strokes 16" class="form-control" value="<%= @score.hole16 %>">
              </div>
            </td>

            <td>
              <!-- Label and input for hole8 -->
              <div class="form-group">
                <label for="hole17" class="control-label">
                  Hole 17
                </label>
                <input type="text" id="hole17" name="hole17" placeholder="Strokes 17" class="form-control" value="<%= @score.hole17 %>">
              </div>
            </td>

            <td>
              <!-- Label and input for hole9 -->
              <div class="form-group">
                <label for="hole18" class="control-label">
                  Hole 18
                </label>
                <input type="text" id="hole18" name="hole18" placeholder="Strokes 18" class="form-control" value="<%= @score.hole18 %>">
              </div>
            </td>
        </tr>
      </table>

      <button class="btn btn-success">
        Create Score
      </button>
      or
      <a href="/scores">Cancel</a>
    </form>
  </div>
</div>
