<div class="page-header">
  <h3>Score #<%= @score.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Golfer</dt>
      <dd><%= @score.golfer.lastname %>, <%= @score.golfer.firstname %></dd>

      <dt>Course</dt>
      <dd><%= @score.course.coursename %></dd>

      <dt>Date</dt>
      <dd><%= @score.date %></dd>
    </dl>

    <table class="table table-striped table-hover">
      <tr>
        <th>Hole #</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>Front 9 Score</th>
      </tr>

      <tr>
        <td>Score</td>
        <td><%= @score.hole1 %></td>
        <td><%= @score.hole2 %></td>
        <td><%= @score.hole3 %></td>
        <td><%= @score.hole4 %></td>
        <td><%= @score.hole5 %></td>
        <td><%= @score.hole6 %></td>
        <td><%= @score.hole7 %></td>
        <td><%= @score.hole8 %></td>
        <td><%= @score.hole9 %></td>
        <td><%= @score.hole1 + @score.hole2 + @score.hole3 + @score.hole4 + @score.hole5 + @score.hole6 + @score.hole7 + @score.hole8 + @score.hole9 %></td>
      </tr>

      <tr>
        <th>Hole #</th>
        <th>10</th>
        <th>11</th>
        <th>12</th>
        <th>13</th>
        <th>14</th>
        <th>15</th>
        <th>16</th>
        <th>17</th>
        <th>18</th>
        <th>Back 9 Score</th>
      </tr>

      <tr>
        <td>Score</td>
        <td><%= @score.hole10 %></td>
        <td><%= @score.hole11 %></td>
        <td><%= @score.hole12 %></td>
        <td><%= @score.hole13 %></td>
        <td><%= @score.hole14 %></td>
        <td><%= @score.hole15 %></td>
        <td><%= @score.hole16 %></td>
        <td><%= @score.hole17 %></td>
        <td><%= @score.hole18 %></td>
        <td><%= @score.hole10 + @score.hole11 + @score.hole12 + @score.hole13 + @score.hole14 + @score.hole15 + @score.hole16 + @score.hole17 + @score.hole18 %></td>
      </tr>

      <tr>
        <th>Total Score</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><%= @score.hole1 + @score.hole2 + @score.hole3 + @score.hole4 + @score.hole5 + @score.hole6 + @score.hole7 + @score.hole8 + @score.hole9 + @score.hole10 + @score.hole11 + @score.hole12 + @score.hole13 + @score.hole14 + @score.hole15 + @score.hole16 + @score.hole17 + @score.hole18 %></th>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <a href="/scores" class="btn btn-primary">Back</a>
          <a href="/scores/<%= @score.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_score/<%= @score.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
    </table>
  </div>
</div>
