



<!-- Validation failure messages -->
<% if @course.errors.any? %>
  <% @course.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add course</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_course" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for Course Name -->
      <div class="form-group">
        <label for="coursename" class="control-label">
          Course Name
        </label>

        <input type="text" id="coursename" name="coursename" placeholder="course name" class="form-control" value="<%= @course.coursename %>">
      </div>

      <!-- Label and input for Yardage -->
      <div class="form-group">
        <label for="yardage" class="control-label">
          Yardage
        </label>

        <input type="text" id="yardage" name="yardage" placeholder="yardage" class="form-control" value="<%= @course.yardage %>">
      </div>

      <table class="table table-striped table-hover">
        <!-- ROW for FRONT NINE holes -->
        <tr>
            <td>
              <!-- Label and input for hole1 -->
              <div class="form-group">
                <label for="hole1" class="control-label">
                  Hole 1
                </label>
                <input type="text" id="hole1" name="hole1" placeholder="Par 1" class="form-control" value="<%= @course.parhole1 %>">
              </div>
            </td>

            <td>
              <!-- Label and input for hole2 -->
              <div class="form-group">
                <label for="hole2" class="control-label">
                  Hole 2
                </label>
                <input type="text" id="hole2" name="hole2" placeholder="Par 2" class="form-control" value="<%= @course.parhole2 %>">
              </div>
            </td>

            <td>
              <!-- Label and input for hole3 -->
              <div class="form-group">
                <label for="hole3" class="control-label">
                  Hole 3
                </label>
                <input type="text" id="hole3" name="hole3" placeholder="Par 3" class="form-control" value="<%= @course.parhole3 %>">
              </div>
            </td>

            <td>
              <!-- Label and input for hole4 -->
              <div class="form-group">
                <label for="hole4" class="control-label">
                  Hole 4
                </label>
                <input type="text" id="hole4" name="hole4" placeholder="Par 4" class="form-control" value="<%= @course.parhole4 %>">
              </div>
            </td>

            <td>
              <!-- Label and input for hole5 -->
              <div class="form-group">
                <label for="hole5" class="control-label">
                  Hole 5
                </label>
                <input type="text" id="hole5" name="hole5" placeholder="Par 5" class="form-control" value="<%= @course.parhole5 %>">
              </div>
            </td>

            <td>
              <!-- Label and input for hole6 -->
              <div class="form-group">
                <label for="hole6" class="control-label">
                  Hole 6
                </label>
                <input type="text" id="hole6" name="hole6" placeholder="Par 6" class="form-control" value="<%= @course.parhole6 %>">
              </div>
            </td>

            <td>
              <!-- Label and input for hole7 -->
              <div class="form-group">
                <label for="hole7" class="control-label">
                  Hole 7
                </label>
                <input type="text" id="hole7" name="hole7" placeholder="Par 7" class="form-control" value="<%= @course.parhole7 %>">
              </div>
            </td>

            <td>
              <!-- Label and input for hole8 -->
              <div class="form-group">
                <label for="hole8" class="control-label">
                  Hole 8
                </label>
                <input type="text" id="hole8" name="hole8" placeholder="Par 8" class="form-control" value="<%= @course.parhole8 %>">
              </div>
            </td>

            <td>
              <!-- Label and input for hole9 -->
              <div class="form-group">
                <label for="hole9" class="control-label">
                  Hole 9
                </label>
                <input type="text" id="hole9" name="hole9" placeholder="Par 9" class="form-control" value="<%= @course.parhole9 %>">
              </div>
            </td>
        </tr>

        <!-- ROW for BACK NINE holes -->
        <tr>
            <td>
              <!-- Label and input for hole10 -->
              <div class="form-group">
                <label for="hole10" class="control-label">
                  Hole 10
                </label>
                <input type="text" id="hole10" name="hole10" placeholder="Par 10" class="form-control" value="<%= @course.parhole10 %>">
              </div>
            </td>

            <td>
              <!-- Label and input for hole2 -->
              <div class="form-group">
                <label for="hole11" class="control-label">
                  Hole 11
                </label>
                <input type="text" id="hole11" name="hole11" placeholder="Par 11" class="form-control" value="<%= @course.parhole11 %>">
              </div>
            </td>

            <td>
              <!-- Label and input for hole3 -->
              <div class="form-group">
                <label for="hole12" class="control-label">
                  Hole 12
                </label>
                <input type="text" id="hole12" name="hole12" placeholder="Par 12" class="form-control" value="<%= @course.parhole12 %>">
              </div>
            </td>

            <td>
              <!-- Label and input for hole4 -->
              <div class="form-group">
                <label for="hole13" class="control-label">
                  Hole 13
                </label>
                <input type="text" id="hole13" name="hole13" placeholder="Par 13" class="form-control" value="<%= @course.parhole13 %>">
              </div>
            </td>

            <td>
              <!-- Label and input for hole5 -->
              <div class="form-group">
                <label for="hole14" class="control-label">
                  Hole 14
                </label>
                <input type="text" id="hole14" name="hole14" placeholder="Par 14" class="form-control" value="<%= @course.parhole14 %>">
              </div>
            </td>

            <td>
              <!-- Label and input for hole6 -->
              <div class="form-group">
                <label for="hole15" class="control-label">
                  Hole 15
                </label>
                <input type="text" id="hole15" name="hole15" placeholder="Par 15" class="form-control" value="<%= @course.parhole15 %>">
              </div>
            </td>

            <td>
              <!-- Label and input for hole7 -->
              <div class="form-group">
                <label for="hole16" class="control-label">
                  Hole 16
                </label>
                <input type="text" id="hole16" name="hole16" placeholder="Par 16" class="form-control" value="<%= @course.parhole16 %>">
              </div>
            </td>

            <td>
              <!-- Label and input for hole8 -->
              <div class="form-group">
                <label for="hole17" class="control-label">
                  Hole 17
                </label>
                <input type="text" id="hole17" name="hole17" placeholder="Par 17" class="form-control" value="<%= @course.parhole17 %>">
              </div>
            </td>

            <td>
              <!-- Label and input for hole9 -->
              <div class="form-group">
                <label for="hole18" class="control-label">
                  Hole 18
                </label>
                <input type="text" id="hole18" name="hole18" placeholder="Par 18" class="form-control" value="<%= @course.parhole18 %>">
              </div>
            </td>
        </tr>
      </table>

      <button class="btn btn-success">
        Create course
      </button>
      or
      <a href="/courses">Cancel</a>
    </form>
  </div>
</div>
